.title-container {
  padding-top: 160px;
  padding-bottom: 90px;
  border-bottom: 1.34px solid #dedcdc;
}

.filter-container {
  position: sticky;
  top: 69px;
  background-color: #f4f3f1;
  z-index: 10;
}

.title {
  font-size: 40px;
}

.select-container {
  width: 240px;
  background-color: transparent;
  border: 1.5px solid #dedcdc;
  border-radius: 4px;
  outline: none;
}
